* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #3cb371;
  font-family: arial;
}

.container {
    padding-left:10px;
    padding-right:10px;
    margin: 20px auto;
    width:100%;
    max-width:1000px;
    display:flex;
    row-gap: 10px;
    column-gap: 1em;
  }

  .first-box {
    max-width:900px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    background: #3cb371;
    color: grey;
    font-size: 16px;
    row-gap: 10px;
    column-gap: 2em;
  }

  .second-box {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    background: #3cb371;
    color: grey;
    font-size: 16px;
    row-gap: 10px;
    column-gap: 2em;
  }

  .box {
    background: white;
    flex:1;
    align-items: flex-end;
  }

  .box .name ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;
}

.box h1 {
  color: #313131;
  margin: 20px;
  margin-bottom: 2px;
}
.box .text {
  margin: 20px;
  margin-top: 0;
}



@media (max-width:720px) {
 .container {
   flex-direction: column;
 }
}
